<div id="<%= dom_id comment %>" class="comment">
  <div class="comment-options">
    <i class="fas fa-ellipsis-h"></i>
  </div>
  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>
  <div class="comment-user">
    <%= comment.user.username %>
  </div>
</div>
<div class="comment-corner">
</div>
<%= image_tag comment.user.image, class:"comment-img" %>