<div id="<%= dom_id user %>" class="user user-partial">
  <div class="profile-pic-wrapper">
  
  </div>
  <div class="user-info">
    <p><%= user.username %></p>
  </div>
</div>

<%#<%= button_to action: 'create', controller: 'friend_requests', receiver_id: user.id do%>
<%#      <i class="fas fa-user-plus"></i>
<%#>    <% end %>