<div id="<%= dom_id user %>" class="user user-partial">
  <div class="profile-pic-wrapper">
    <%= image_tag user.image %>
    <div class="user-info">
      <p><%= user.username %></p>
    </div>
  </div>
  <div class="declined-accepted" data-request-target='pop'></div>
</div>