<div data-controller='scroll'>
<div class="post-wrapper" data-scroll-target="newPost">
  <%= render @post %>
</div>
<div class="comments" id="comments">
  <% @post.comments.order(created_at: :desc).each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
<div class="new-comment">
  <%= render 'comments/form', comment: @new_comment, post: @post %>
</div>
<div class="placeholder">
</div>
</div>

