.user-partial{
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: white;
}

.user-partial .profile-pic-wrapper{
  width: 100%;
  position: relative;
  height: 170px;
}

.user-partial img{
  width: 100%;
  height: 120px;
}

.user-partial .user-info{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.user-partial .user-info p{
  margin: 0px 6px;
  margin-bottom: 10px;
  padding: 10px;
  justify-self: center;
  font-weight: bold;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
