/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0px;
  background-color: #EBEBEB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10000000;
}

nav a{
  text-decoration: none;
}

.hidden{
  display: none;
}

.logo{
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(#c07161 0%, #B25542 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.logo i{
  font-style: normal;
  color: white;
  left: 15px;
  bottom: -4px;
  position: relative;
}

.nav-btns{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .nav-btns a .fa-envelope{
  background-color: #5555;
  color: white;
  font-size: 23px;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btns i:not(:last-child){
  background-color: #5555;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btns i:last-child{
  font-size: 40px;
  color: #5555;
  background-color: white;
  border-radius: 50px;
}

nav .user{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img{
  width: 48px;
  height: 48px;
  border-radius: 40%;
}

nav img:hover{
  cursor: pointer;
}

nav .dropdown{
  bottom: -80px;
  right: 20px;
}

.dropdown form button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown .logout{
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.dropdown form button #logout-icon{
  background-color: transparent;
  color: black;
  font-size: 20px;
}

.content-wrapper{
  width: auto;
  display: grid;
  grid-template-columns: 27vw 45vw 27vw;
  align-items: flex-start;
  justify-items: center;
  column-gap: 0px;
  margin-top: 40px;
}

.left-nav{
  font-size: 20px;
  color: #505050;
  top: 100px;
  position: sticky;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.left-nav ul {
  list-style: none;
}

.left-nav ul li{
  display: flex;
  align-items: center;
}

.left-nav ul li a{
  text-decoration: none;
  color: inherit;
}

.left-nav ul li:not(:last-child) { 
  margin-bottom: 30px;  
}

.left-nav li i{
  font-size: 25px;
  width: 30px;
  margin-right: 10px;
}

.left-nav li em{
  font-style: normal;
}

.yielded-content{
  width: 100%;
}

.friends{
  color: #505050;
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 40px;
  position: sticky;
  top: 100px;
}

.friends a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.friends h3{
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
}

.friends i{
  margin-right: 10px;
}

.friends img{
  border-radius: 40%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}