.comments{
  margin-top: 40px;
  width: auto;
}

.comment-wrapper:not(:last-child){
  margin-bottom: 10px;
}

.comment{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  min-height: 50px;
  width: auto;
  max-width: 100%;
}

.comment p{
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 5px;
}

.comment:not(:first-child){
  margin-top: 20px;
}

.comment-options{
  align-self: flex-end;
  color: #5555;
}

.comment-options i:hover{
  cursor: pointer;
}

.comment-dropdown{
  display: flex;
  flex-direction: column;
}

.comment-dropdown p:first-child{
  align-self: center;
}

.comment-dropdown hr{
  width: 100%;
}

.comment-dropdown button{
  color: red;
  font-size: 16px;
}

.comment-content{
  align-self: flex-start;
  white-space: initial;
  width: auto;
  max-width: 100%;
}

.comment-user{
  align-self: flex-end;
  color: #505050;
}

.comment-user-pic{
  font-size: 35px;
  margin-top: 0px;
}

.comment-corner{
  background: url(comment-corner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: relative;
  top: -8px;
  left: 10px;
}

.comment-img{
  border-radius: 30%;
  width: 48px;
  height: 48px;
}

.new-comment{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #EBEBEB;
  width: 100%;
  align-items: center;
  box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.new-comment form{
  width: 45vw;
}

.new-comment form label{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.new-comment .comment{
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.new-comment textarea{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border: none;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  padding: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit-and-user{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.submit-and-user img{
  border-radius: 30%;
  height: 48px;
  width: 48px;
}

.submit-and-user button{
  border-radius: 50px;
  border: none;
  background: linear-gradient(#c07161 0%, #B25542 100%);
  color: white;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: -10px;
}

.submit-and-user button:hover{
  cursor: pointer;
  background: linear-gradient(#e78672 0%, #e46b53 100%);
}

.placeholder{
  height: 300px;
}

.comment-in{
  opacity: 0;
  animation: slide-in 0.4s 0.15s ease-in,
             fade-in 0.4s 0.15s ease-in forwards;
}

.delayed-comment-in{
  opacity: 0;
  animation: slide-in 0.4s 0.15s ease-in,
             fade-in 0.4s 0.15s ease-in forwards;
}

.comment-out{
  animation: slide-out 0.4s ease-out,
             fade-out 0.4s ease-out;
}