.post{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 25px;
  width: auto;
}

.post a{
  text-decoration: none;
  color: black;
}

.post a i{
  color: #5555;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.post-user{
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: center;
}

.post-user i{
  color: #5555;
  font-size: 48px;
  margin-right: 10px;
}

.post-user img{
  border-radius: 30%;
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.post-settings{
  color: #5555;
}

.post-settings i:hover{
  cursor: pointer;
}

.post-content{
  margin: 15px 0px;
  word-break: break-all;
}

.post-img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  
}

.posted-img{
  max-width: 100%;
  border-radius: 10px;
}

.post-btns{
  display: flex;
  font-size: 25px;
  color: #5555;
  border-top: 1px solid #5555;
  padding-top: 15px;
  gap: 10px;
  align-items: center;
}

.post-btns form{
  display: flex;
  align-items: center;
}

.post-btns button{
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.post-btns button:hover{
  cursor: pointer;
}

.post-btns button .far{
  color: #5555;
}

.post-btns button .fas{
  color: red;
}

.likes{
  display: flex;
  gap: 5px;
  align-items: center;
}

.like-count{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.dropdown{
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-items{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-items a{
  margin-bottom: 5px;
}

.dropdown-items button{
  background-color: transparent;
  color: red;
  border: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.dropdown-items form button i{
  color: red;
}

.dropdown-items button:hover{
  cursor: pointer;
}

.dropdown-items a i{
  color: rgb(53, 53, 53);
}

.dropdown-items button i {
  color: rgb(53, 53, 53);
}

