.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 20px 50px;
}

.head h2{
  margin: 0px;
}

.users{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
   margin: 20px 50px;
}