.banner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 250px;
  min-height: 250px;
  width: 100%;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 100px;
}

.banner button{
  background-color: #4267B2;
  margin: 20px;
  margin-right: 80px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 10;
}

.banner .withdraw-fr-btn button{
  background-color: #EBEBEB;
  color: rgb(151, 151, 151);
}

.banner .remove-friend-btn button{
  background-color: #B25542;
}

.banner button:hover{
  cursor: pointer;
}

.user-name-and-pic{
  max-width: fit-content;
  display: flex;
  position: absolute;
  top: 190px;
  left: 80px;
  align-items: center;
  color: black;
  
}

.user-name-and-pic .username-header{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-name-and-pic i{
  font-size: 150px;
  color: #555;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  border: 6px solid #555;
}

.user-name-and-pic img{
  border-radius: 40px;
  margin-right: 15px;
  height: 160px;
  width: 160px;
  min-width: 160px;
  border: 6px solid #EBEBEB;
}

.user-profile-content{
  width: 100%;
  display: grid;
  grid-template-columns: 27vw 45vw 27vw;
}

.bio-header{
  margin-left: 3.5vw;
  position: sticky;
  top: 90px;
}

.posts-header{
  margin-left: 0px;
}

.friends-header{
  margin-left: 4vw;
  position: sticky;
  top: 90px;
}

.bio{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align:left;
  align-items: center;
  position: sticky;
  top: 120px;
}

.bio-content{
  background-color: white;
  min-height: 40vh;
  height: 40vh;
  width: 70%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bio-content p{
  margin: 0px;
  word-wrap: break-word;
}

.bio-content form{
  height: 100%;
}

.check-wrapper{
  display: flex;
  justify-content: flex-end;
}

.bio-content form button{
  background-color: transparent;
  border: none;
  padding: 0px;
  color: #5555;
  font-size: 16px;
}

.bio-content form button:hover{
  cursor: pointer;
}

.bio-content .field{
  height: 90%;
}

.bio-content textarea{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 0px;
}

.bio-settings{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: #5555;
}

.bio-settings i{
  color: #5555;
}

.user-profile-friends{
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-profile-friends-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 160px) );
  grid-auto-rows: min-content;
  gap: 10px;
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  position: sticky;
  top: 120px;
  margin-bottom: 50px;
}

.user-profile-friends-list a{
  height: fit-content;
  text-decoration: none;
  color: black;
}

.empty-message{
  margin-top: 50px;
  text-align: center;
}